*{
    margin: 0;
    padding: 0;
}

.container{
    width: 500px;
    height: 500px;
    border: 3px solid;
    margin-left: 30%;
    margin-top: 2%;
    position: relative;
    
}
.box-1{
    width: 100px;
    height: 100px;
    background-color: blue;
    
}
.box-2{
    background-color: brown;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
.box-3{
    background-color: rgb(206, 135, 135);
    width: 100px;
    height: 100px;
}